<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652320969268-87fppdv3ehi4vec0qsggmm1c9g2ra7ej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652320969268-87fppdv3ehi4vec0qsggmm1c9g2ra7ej</string>
	<key>API_KEY</key>
	<string>AIzaSyBKq1pMfPW8Kc6__MzuH-aXbk8qTEhLuak</string>
	<key>GCM_SENDER_ID</key>
	<string>652320969268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.interview.wordPuzzle</string>
	<key>PROJECT_ID</key>
	<string>puzzle-3f23e</string>
	<key>STORAGE_BUCKET</key>
	<string>puzzle-3f23e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652320969268:ios:550fa9ae68568b5de93061</string>
</dict>
</plist>